<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<!--     <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/> -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/rentals.css}"/>

</head>
<body>

	<div th:replace="header :: header"></div>
    
    <div class="login-form">
	   <form action="/login" method="post" >
		  Email:
		  <input type="text" name="email"><br>
		  Password:
		  <input type="password" name="password"><br>
		  <input type="submit" value="Submit"> 
		</form>
	</div>
	
	<p th:text="${error}" />


</body>
</html>
