<!DOCTYPE HTML>
<html>
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/> -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/rentals.css}"/>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
</head>
<body>

	<div th:replace="header :: header"></div>
	
	<form action="/rent" method="post">
	<table>
	  <tr>
	    <th>Movie</th>
	    <th>buy</th>
	  </tr>
	  <tr th:each="movie: ${allMovies}">
	    <td th:text="${movie.title}">Batman</td>
	    <td><button name="movie_id" type="submit" th:value="${movie.id}">Rent</button></td>
	  </tr>
	</table>
	</form>

</body>
</html>
