<!DOCTYPE HTML>
<html>
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/rentals.css}"/>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
</head>
<body>

	<div th:replace="header :: header"></div>


	<form action="/return" method="post">
	<table>
	  <tr>
	    <th>Movie</th>
	    <th>Return</th>
	  </tr>
	  <tr th:each="rental: ${allRentals}">
	    <td th:text="${rental.movie.title}">Batman</td>
	    <td><button name="rentalId" type="submit" th:value="${rental.id}">Return</button></td>
	  </tr>  
	</table>
	</form>

</body>
</html>
