<!DOCTYPE HTML>
<html>
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Rentals Page</h1>
    
    <!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<form action="/return" method="post">
<table>
  <tr>
    <th>Movie</th>
    <th>Return</th>
  </tr>
  <tr th:each="movie: ${allMovies}">
    <td th:text="${movie.title}">Batman</td>
    <td><button name="movieId" type="submit" th:value="${movie.id}">Return</button></td>
  </tr>  
</table>
</form>

</body>
</html>
    
    
</body>
</html>